.ava {
  padding: 20px;
}
.divProf {
  padding: 10px;
}

img {
  width: 100%;
  height: 70px;
}

.avaProf {
  padding: 15px;
  max-width: 100px;
  height: 100px;
}
.contact {
  padding-left: 2%;
}
